.var {
   font-weight: bold;
}

div.note {
   background-color: #cdf;
   border: 1px solid #9ae;
}

div.admonition-todo {
   background-color: #dfd;
   border: 1px solid #384;
}

/*
div.note p.admonition-title {
   color: #622;
}
*/

.highlight .hll {
   background-color: #ed9;
}

blockquote {
   color: #555;
}

.starttls td:not(:last-child) {
   text-align: center;
   font-family: monospace;
}

.sol-script {
   display: none;
}

table.regex {
   border: solid #aaa 2px;
}

table.regex th, table.regex td {
   border: solid #aaa 1px;
   vertical-align: middle;
}

table.regex th, table.regex td {
   text-align: center;
}

table.regex td:nth-last-child(2) {
   text-align: left;
}
