.var {
   font-weight: bold;
}

div.note {
   background-color: #cdf;
   border: 1px solid #9ae;
}

div.admonition-todo {
   background-color: #dfd;
   border: 1px solid #384;
}

/*
div.note p.admonition-title {
   color: #622;
}
*/

.highlight .hll {
   background-color: #ed9;
}

blockquote {
   color: #555;
}

.starttls td:not(:last-child) {
   text-align: center;
   font-family: monospace;
}

.sol-script {
   display: none;
}

table.regex {
   border: solid #aaa 2px;
}

table.regex th, table.regex td {
   border: solid #aaa 1px;
   vertical-align: middle;
}

table.regex th, table.regex td {
   text-align: center;
}

table.regex td:nth-last-child(2) {
   text-align: left;
}

table.docutils caption {
   font-weight: bold;
   font-size: larger;
   font-variant: small-caps;
}

table.saifallos ul {
    margin-bottom: 0;
    padding-left: 20px;
}

table.saifallos, table.saifallos td, table.saifallos th {
   border: solid 1px #888;
}

table.saifallos th {
   text-align: center;
   background-color: #DDD;
}

table.saifallos td:first-child {
   text-align: center;
   vertical-align: middle;
}

table.saifallos tr {
   background-color: #EEF;
}

table.saifallos tr:nth-child(-n+7) {
   background-color: #FEF;
}

table.saifallos tr:nth-child(-n+3) {
   background-color: #EFE;
}

table.virtualizacion, table.virtualizacion th, table.virtualizacion td {
   border: solid 1px black;
}

table.virtualizacion th {
   background-color: #bce5ff;
}

table.virtualizacion th, table.virtualizacion td {
   padding: 3px 7px;
   vertical-align: middle;
}

table.virtualizacion th,
table.virtualizacion td:nth-child(7),
table.virtualizacion td:nth-child(6) {
   text-align: center;
}

table.info-part-dos td:first-child {
   text-align: center;
}

table.herr-part {
   margin: auto;
}

table.herr-part, table.herr-part th, table.herr-part td {
   border: solid 1px black;
}

table.herr-part th {
   background-color: #bce5ff;
}

table.herr-part th, table.herr-part td {
   padding: 3px 7px;
   vertical-align: middle;
}

table.herr-part td:nth-last-child(4) {
   font-family: monospace;
}

table.herr-part td:nth-last-child(3),
table.herr-part td:nth-last-child(2) {
   text-align: center;
}

table.uefi-bios {
   border: solid 1px black;
   margin: auto;
}

table.uefi-bios th {
   text-align: center;
}

table.uefi-bios th, table.uefi-bios td {
   border: solid 1px black;
   padding: 3px 7px;
}


table.tipos-arranques {
   border: solid 1px black;
   margin: auto;
}

table.tipos-arranques th {
   text-align: center;
   background-color: #bce5ff;
}

table.tipos-arranques th, table.tipos-arranques td {
   border: solid 1px black;
   padding: 3px 7px;
}
