.var {
   font-weight: bold;
}

div.note {
   background-color: #cdf;
   border: 1px solid #9ae;
}

table.docutils {
   margin: auto;
}

table.docutils, table.docutils th, table.docutils td {
   border: solid 1px black;
}

table.docutils th {
   background-color: #bce5ff;
}

table.docutils th, table.docutils td {
   padding: 3px 7px;
   vertical-align: middle;
}

table.footnote, table.footnote th, table.footnote td,
table.citation, table.citation th, table.citation td
{
   margin: initial;
   border: none;
   vertical-align: baseline;
}

div.admonition-todo {
   background-color: #dfd;
   border: 1px solid #384;
}

/*
div.note p.admonition-title {
   color: #622;
}
*/

.highlight .hll {
   background-color: #ed9;
}

blockquote {
   color: #555;
}

.dfn {
   border: dotted 1px #AAA;
   background-color: #EDA;
   padding: 2px 4px;
}

.starttls td:not(:last-child) {
   text-align: center;
   font-family: monospace;
}

.sol-script {
   display: none;
}

table.regex {
   border: solid #aaa 2px;
}

table.regex th, table.regex td {
   border: solid #aaa 1px;
   vertical-align: middle;
}

table.regex th, table.regex td {
   text-align: center;
}

table.regex td:nth-last-child(2) {
   text-align: left;
}

table.docutils caption {
   font-weight: bold;
   font-size: larger;
   font-variant: small-caps;
}

table.saifallos ul {
    margin-bottom: 0;
    padding-left: 20px;
}

table.saifallos, table.saifallos td, table.saifallos th {
   border: solid 1px #888;
}

table.saifallos th {
   text-align: center;
   background-color: #DDD;
}

table.saifallos td:first-child {
   text-align: center;
   vertical-align: middle;
}

table.saifallos tr {
   background-color: #EEF;
}

table.saifallos tr:nth-child(-n+7) {
   background-color: #FEF;
}

table.saifallos tr:nth-child(-n+3) {
   background-color: #EFE;
}

table.virtualizacion, table.virtualizacion th, table.virtualizacion td {
   border: solid 1px black;
}

table.virtualizacion th {
   background-color: #bce5ff;
}

table.virtualizacion th, table.virtualizacion td {
   padding: 3px 7px;
   vertical-align: middle;
}

table.virtualizacion th,
table.virtualizacion td:nth-child(7),
table.virtualizacion td:nth-child(6) {
   text-align: center;
}

table.info-part-dos td:first-child {
   text-align: center;
}

table.herr-part {
   margin: auto;
}

table.herr-part, table.herr-part th, table.herr-part td {
   border: solid 1px black;
}

table.herr-part th {
   background-color: #bce5ff;
}

table.herr-part th, table.herr-part td {
   padding: 3px 7px;
   vertical-align: middle;
}

table.herr-part td:nth-last-child(4) {
   font-family: monospace;
}

table.herr-part td:nth-last-child(3),
table.herr-part td:nth-last-child(2) {
   text-align: center;
}

table.uefi-bios {
   border: solid 1px black;
   margin: auto;
}

table.uefi-bios th {
   text-align: center;
}

table.uefi-bios th, table.uefi-bios td {
   border: solid 1px black;
   padding: 3px 7px;
}


table.tipos-arranques {
   border: solid 1px black;
   margin: auto;
}

table.tipos-arranques th {
   text-align: center;
   background-color: #bce5ff;
}

table.tipos-arranques th, table.tipos-arranques td {
   border: solid 1px black;
   padding: 3px 7px;
}

table.xor {
   border: solid 1px black;
   margin: auto;
}

table.xor th, table.xor td {
   border: solid 1px black;
   padding: 3px 7px;
   text-align: center;
}

table.xor td {
   font-family: monospace;
   font-size: larger;
}

table.raid-zfs {
   border: solid 1px black;
   margin: auto;
}

table.raid-zfs th {
   text-align: center;
   background-color: #bce5ff;
}

table.raid-zfs th, table.raid-zfs td {
   border: solid 1px black;
   padding: 3px 7px;
}

table.raid-zfs caption {
   font-weight: bold;
}

table.dar {
   border: solid 1px black;
   margin: auto;
}

table.dar th {
   text-align: center;
   background-color: #bce5ff;
}

table.dar th, table.dar td {
   border: solid 1px black;
   padding: 3px 7px;
}

table.dar caption {
   font-weight: bold;
}

table.dar td:nth-last-child(3) {
   vertical-align: middle;
   text-align: center;
}

table.dar td:nth-last-child(n+2) {
   font-family: monospace;
}

table.serv-part {
   border: solid 1px black;
   margin: auto;
}

table.serv-part th {
   text-align: center;
   background-color: #bce5ff;
}

table.serv-part th, table.serv-part td {
   border: solid 1px black;
   padding: 3px 7px;
}

table.serv-part td:first-child {
   font-family: monospace;
}

table.serv-part td:nth-child(n+3) {
   text-align: right;
}

table.operaciones th {
   background-color: #EEE;
   text-align: center;
}

table.operaciones td[rowspan] {
   vertical-align: middle;
}

table.operaciones td:last-child {
   font-family: monospace;
   text-align: center;
}

table.numeracion td {
   font-family: monospace;
   text-align: right !important;
}

table.conteo, .conversion {
   font-size: larger;
}

table.conteo td:first-child {
   text-align: right;
}

table.conteo th {
   text-align: center;
   vertical-align: middle;
}

table.tipos-ssoo th {
   background-color: #EFE;
}

table.algo-pla th {
   background-color: #EFE;
}

table.algo-pla td:first-child {
   text-align: center;
}

table.algo-pla td:nth-child(2) {
   text-align: right;
   text-align: center;
}

table.perifericos th {
   background-color: #EFE;
}

table.filesystems th {
   vertical-align: middle;
   text-align: center;
   background-color: #EFE;
}

table.filesystem caption {
   font-size: bold;
}

table.filesystems td {
   vertical-align: middle;
}

table.filesystems td:nth-child(3) p, .filesystems td:nth-child(4) p {
   text-align: right;
}

table.filesystems td:nth-child(n+5) p {
   text-align: center;
}

table.ej-nombres th {
   background-color: #EFE;
}

table.ej-nombres td {
   font-family: monospace;
}

table.extensiones th {
   background-color: #EFE;
   text-align: center;
}

table.extensiones td:first-child {
   font-family: monospace;
}

table.virtualizacion th,
table.virtualizacion td:nth-child(7),
table.virtualizacion td:nth-child(6) {
   text-align: center;
}

table.amenazase ul {
    margin-bottom: 0;
}

table.amenazasl ul {
    margin-bottom: 0;
}

table.win-perm th {
   background-color: #EFE;
}

table.win-perm th, table.win-perm td:nth-child(n+2) {
   text-align: center;
}

table.win-attr td:nth-child(2) {
   text-align: right;
   font-family: monospace;
}

table.win-attr td:nth-child(3) {
   text-align: center;
}

table.chains-tables th,
table.chains-tables td:nth-child(n+2) {
   text-align: center;
}

table.nftables-type td:last-child {
   vertical-align: baseline;
}

table.iptables-action th,
table.iptables-simpl-cond th,
table.iptables-ext th,
table.nftables-matches th,
table.nftables-acc-term th,
table.nftables-acc-no-term th,
table.nftables-set-caract th,
table.iptables-objetivo th {
   text-align: center;
}

table.iptables-action td:first-child,
table.iptables-simpl-cond td:first-child,
table.iptables-ext td:first-child,
table.nftables-matches td:first-child:last-child,
table.nftables-acc-term td:first-child:last-child,
table.nftables-acc-no-term td:first-child:last-child,
table.nftables-set-caract td:first-child:last-child,
table.iptables-objetivo td:first-child {
   font-family: monospace;
   font-size: larger;
}

table.iptables-action td:first-child:last-child,
table.iptables-simpl-cond td:first-child:last-child,
table.iptables-ext td:first-child:last-child,
table.nftables-matches td:first-child:last-child,
table.nftables-acc-term td:first-child:last-child,
table.nftables-acc-no-term td:first-child:last-child,
table.nftables-set-caract td:first-child:last-child,
table.iptables-objetivo td:first-child:last-child {
   background-color: #DFD;
}

table.iptables-objetivo td:nth-last-child(2),
table.iptables-ext td:nth-last-child(2),
table.iptables-simpl-cond td:nth-last-child(2) {
   font-family: monospace;
   font-size: larger;
}

table.iptables-ext td:last-child {
   vertical-align: baseline;
}

table.iptables-anti th,
table.iptables-anti td:first-child {
   text-align: center;
}

table.iptables-anti td:first-child,
table.iptables-anti td:nth-child(4),
table.iptables-anti td:nth-child(6) {
   font-family: monospace;
}

table.wgws td:first-child {
   vertical-align: initial;
   font-family: monospace;
}

table.docker-limit-params td:first-child {
   font-family: monospace;
}

table.mini-regex td:first-child:last-child {
   background-color: lightgray;
}

table.mini-regex td:first-child:last-child p {
   text-align: center;
}

table.mini-regex td:nth-last-child(2) p {
   font-family: monospace;
   font-size: larger;
}

table.ssoo-generaciones td:first-child p {
   text-align: center;
}

table.gestion-memoria td:first-child {
   vertical-align: middle;
}

table.ej-raid td:first-child p {
   text-align: center;
}

table.gest-procesos td:first-child p {
   text-align: center;
}

table.gest-procesos td:n-child(2) p {
   text-align: right;
}

table.evolucion-fifo td:first-child p {
   vertical-align: middle;
}

table.evolucion-fifo td:not(:nth-last-child(6)) p {
   text-align: center;
}

table.evolucion-fifo tbody tr {
   background-color: #ebeb9b;
}

table.evolucion-fifo tbody tr:last-child {
   background-color: #99dcf8;
}

table.evolucion-fifo tbody tr:first-child {
   background-color: #90ee90;
}

table.evolucion-fifo tbody tr:last-child {
   background-color: #99dcf8;
}

table.evolucion-fifo th p {
   text-align: center;
}

table.evolucion-fifo tbody tr:nth-last-child(2) {
   background-color: #e89595;
}

table.rraa-uutt th p {
    text-align: center;
}

table.rraa-uutt td:not(:first-child):not(:empty) {
   background-color: lightgray;
}

table.rraa-uutt td:not(:first-child):not(:empty) p {
   text-align: center;
}

@media only screen {
   table.rraa-uutt td:not(:first-child):not(:empty) p {
      display: none;
   }
}

table.biometria th p {
    text-align: center;
}

table.biometria td:not(:first-child) p {
    text-align: center;
    font-size: larger;
}

table.obj-seg {
   max-width: 800px;
}

table.crypto-list td:first-child {
   text-align: center;
   font-weight: bold;
}

table.tipos-dato  td:last-child p {
   text-align: center;
}
